<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air quality</title>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        nav {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
        nav ul li a:hover{
            color: #026100;
            text-decoration: none;
        }

        main{
            margin: 20px;
        }
        footer {
            text-align: center;
            margin-top: 20px; 
            padding: 10px 0; 
            background-color: #333;
            color: #fff; 
            bottom: 0;
            left: 0;
            width: 100%;
        }

        footer h4 {
            margin-bottom: 5px;
        }

        footer h6 {
            margin-top: 0;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/main">Main</a></li>
            <li><a href="/disasters">Natural Disasters</a></li>
            <li><a href="/history">History</a></li>
            <% if (is_admin) { %>
                <li><a href="/users">Users</a></li>
            <% } %>
            <li><a href="/login">Logout</a></li>
        </ul>
    </nav>
    <main>
        <h1>Air quality of <%= city %></h1>
        <h2>Overall aqi <%= air.overall_aqi %></h2>
        <div id="aqiChart" style="width: 100%; height: 500px;"></div>
    </main>
   

    <footer>
        <h4>Shynar Miras</h4>
        <h6>SE-2206</h6>
    </footer>
    <script>
        const air = <%- JSON.stringify(air) %>;
        console.log(air);
        const labels = Object.keys(air);
        const concentrations = labels.map(label => air[label].concentration);
        const aqis = labels.map(label => air[label].aqi);

        let chart = am4core.create("aqiChart", am4charts.XYChart);

        chart.data = labels.map((label, index) => ({ pollutant: label, concentration: concentrations[index], aqi: aqis[index] }));

        let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "pollutant";
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.minGridDistance = 30;

        let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

        let series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.valueY = "concentration";
        series.dataFields.categoryX = "pollutant";
        series.name = "Concentration";
        series.columns.template.tooltipText = "{name}: [bold]{valueY}[/]";
        series.columns.template.fillOpacity = .8;

        let series2 = chart.series.push(new am4charts.ColumnSeries());
        series2.dataFields.valueY = "aqi";
        series2.dataFields.categoryX = "pollutant";
        series2.name = "AQI";
        series2.columns.template.tooltipText = "{name}: [bold]{valueY}[/]";
        series2.columns.template.fillOpacity = .8;

        chart.cursor = new am4charts.XYCursor();

        chart.legend = new am4charts.Legend();
    </script>
</body>
</html>