<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air quality</title>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
</head>
<body>
    <h1>Air quality of <%= city %></h1>
    <div id="aqiChart" style="width: 100%; height: 500px;"></div>


    <script>
        const air = <%- JSON.stringify(air) %>;
        console.log(air);
        
        // Extracting data from air object
        const labels = Object.keys(air);
        const concentrations = labels.map(label => air[label].concentration);
        const aqis = labels.map(label => air[label].aqi);
        const overall_aqi = air.overall_aqi;

        // Create chart instance
        let chart = am4core.create("aqiChart", am4charts.XYChart);

        // Add data
        chart.data = labels.map((label, index) => ({ pollutant: label, concentration: concentrations[index], aqi: aqis[index] }));

        // Create axes
        let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "pollutant";
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.minGridDistance = 30;

        let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

        // Create series
        let series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.valueY = "concentration";
        series.dataFields.categoryX = "pollutant";
        series.name = "Concentration";
        series.columns.template.tooltipText = "{name}: [bold]{valueY}[/]";
        series.columns.template.fillOpacity = .8;

        let series2 = chart.series.push(new am4charts.ColumnSeries());
        series2.dataFields.valueY = "aqi";
        series2.dataFields.categoryX = "pollutant";
        series2.name = "AQI";
        series2.columns.template.tooltipText = "{name}: [bold]{valueY}[/]";
        series2.columns.template.fillOpacity = .8;

        // Add cursor
        chart.cursor = new am4charts.XYCursor();

        // Add legend
        chart.legend = new am4charts.Legend();

        // Display overall AQI
        const overallAQIElement = document.createElement("div");
        overallAQIElement.innerText = `Overall AQI: ${overall_aqi}`;
        document.body.appendChild(overallAQIElement);
    </script>
</body>
</html>