<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Disasters News</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        nav {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
        nav ul li a:hover{
            color: #026100;
            text-decoration: none;
        }

        main{
            margin: 20px;
        }
        .news-item {
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
        }
        .event-name {
            font-size: 20px;
            font-weight: bold;
        }
        .description {
            margin-top: 5px;
        }
        .country {
            font-style: italic;
        }
        footer {
            text-align: center;
            margin-top: 20px; 
            padding: 10px 0; 
            background-color: #333;
            color: #fff; 
            bottom: 0;
            left: 0;
            width: 100%;
        }

        footer h4 {
            margin-bottom: 5px;
        }

        footer h6 {
            margin-top: 0;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/main">Main</a></li>
            <li><a href="/disasters">Natural Disasters</a></li>
            <li><a href="/history">History</a></li>
            <% if (is_admin) { %>
                <li><a href="/users">Users</a></li>
            <% } %>
            <li><a href="/login">Logout</a></li>
        </ul>
    </nav>
    <main>
        <h1>Natural Disasters News</h1>
        <% disastersData[0].features.forEach(function(disaster) { %>
            <div class="news-item">
                <div class="event-name"><%= disaster.event_name %></div>
                <div class="description">Description:<%= disaster.description %></div>
                <div class="country">Country: <%= disaster.country %></div>
            </div>
        <% }); %>
    </main>
    <footer>
        <h4>Shynar Miras</h4>
        <h6>SE-2206</h6>
    </footer>
</body>
</html>
